# Ignore virtual environments
venv/
env/
.env/

# Ignore Python compiled files
*.pyc
*.pyo
__pycache__/

# Ignore IDE-specific files and directories
.idea/

# Ignore database file
db.sqlite3

# Ignore log files
*.log

# Ignore translation files
*.pot

# Exclude all migrations except __init__.py
**/migrations/*
!**/migrations/__init__.py

# Exclude specific files
urls.cpython-310.pyc
